<table id="booksTable">
  <tr>
    <th>Book title</th>
    <th>Due date</th>
    <th></th>
  </tr>
  <% @books.sort_by { |x| x['Title'] }.map do |book| %>
  <% @copies.map do |copy| %>
    <% if copy.user_id == current_user.id %>
        <% if book.id == copy.book_id %>
          <tr>
            <td><%= book.Title %></td>
            <td>"Feature in progress"</td>
            <td><%= button_to "Return Book", copy_path(copy), :method => :delete, form: {data: {
              turbo_confirm: @deletion_prompt_confirmation
            } }%></td>
          </tr>
          <% end %>
        <% end %>
    <% end %>
  <% end %>
</table>
<hr>
<%= button_to "<- Go back", books_path, :method => :get %>